---
import { Image } from "astro:assets";
import BedrockLogo from "../../assets/bedrock.svg";
import Button from "../Button.astro";
import { GeologicalModel } from "../model/block-model.jsx";
---

<header class="landing-section">
  <div class="py-2 flex justify-end items-center">
    <code class="block font-mono text-sm text-right">uv add bedrock-ge</code>
    <!-- TODO add copy button -->
  </div>

  <div class="flex flex-wrap sm:flex-nowrap pb-4 my-auto">
    <div>
      <h2 class="text-3xl md:text-4xl flex gap-2">
        <Image src={BedrockLogo} width="30" alt="Bedrock logo" class="block" />
        Bedrock
      </h2>
      <h1>
        Transform your ground investigation data from legacy databases and
        formats into <em>structured 3D geospatial</em> data
      </h1>

      <p>
        3D geospatial databases for ground investigation data are like USB-C for
        electronic devices.
      </p>

      <div class="flex space-between gap-x-2 my-6">
        <Button href="/getting-started">Get started</Button>
        <Button href="/examples">Examples</Button>
        <Button href="/professional-support">Professional support</Button>
      </div>
    </div>

    <GeologicalModel client:load />
  </div>
</header>

<style>
  header {
    display: grid;
    height: clamp(400px, 100svh - 238px, 800px);
    grid-template-rows: min-content 1fr;
    background-image: url("607.svg");
    background-size: 80px;
  }

  h1 {
    font-size: clamp(1.25rem, 0.954rem + 2.963vw, 3.25rem);
  }
</style>
