<div>
  <slot />
</div>
<style>
  @reference "../../styles/global.css";

  div {
    @apply max-w-screen-xl relative bg-white border;
    border-color: var(--border-color);
    border-bottom: none;
    margin-inline: auto;
    container-type: inline-size;
    container-name: ribbon;
  }
</style>
