---
// ThreeColumns layout component
---

<section class="three-columns landing-section">
  <slot />
</section>

<style>
  @container ribbon (width > 700px) {
    .three-columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      --padding: 24px;

      > div:first-of-type {
        padding-inline-end: var(--padding);
        border-right: 1px solid var(--border-color);
      }

      > div:last-of-type {
        padding-inline-start: var(--padding);
        border-left: 1px solid var(--border-color);
      }

      > div:not(:first-of-type, :last-of-type) {
        padding-inline: var(--padding);
        margin-inline: auto;
      }

      div > p {
        max-width: 45ch;
      }
    }
  }
</style>
