---
export interface Props {
  divider?: boolean;
}

const { divider = false } = Astro.props;
---

<section class="two-columns landing-section" data-divider={divider}>
  <slot />
</section>

<style>

  .two-columns {
    p {
      max-width: 45ch;
    }
  }

  @container ribbon (width > 700px) {
    .two-columns {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

      > div:not(:first-of-type) {
        padding-inline-start: 24px;
      }

      &[data-divider="true"] > div:first-of-type {
        border-right: 1px solid var(--border-color);
      }
    }
  }
</style>
