---
import { Icon } from "@astrojs/starlight/components";
import { Image } from "astro:assets";
import structureDiagram from "../assets/structure.svg";
import kaiTakSpeckle from "../assets/KaiTak_BrGI_Speckle.png";
import arcGIS from "../assets/KaiTak_BrGI_ArcGIS.webp";
import Header from "../components/landing/Header.astro";
import OneThirdColumn from "../components/landing/one-third-column.astro";
import Panel from "../components/landing/Panel.astro";
import Ribbon from "../components/landing/ribbon.astro";
import ThreeColumns from "../components/landing/three-columns.astro";
import TwoColumns from "../components/landing/TwoColumns.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <div class="landing">
    <div class="fixed inset-0 text-green-100">
      <svg width="100%" height="100%">
        <defs>
          <pattern
            id="dotPattern"
            viewBox="-6 -6 12 12"
            patternUnits="userSpaceOnUse"
            width="12"
            height="12"
          >
            <circle cx="0" cy="0" r="1" fill="currentColor"></circle>
          </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#dotPattern)"></rect>
      </svg>
    </div>

    <Ribbon>
      <Header />

      <ThreeColumns>
        <OneThirdColumn title="What is ground investigation data?">
          <p>
            Every foundation, tunnel, and major construction project depends on
            ground investigation data to ensure safety and feasibility.
            Engineers drill boreholes, take soil samples, and conduct tests to
            understand what is in the ground.
          </p>
        </OneThirdColumn>

        <OneThirdColumn title="What is the problem?">
          <p>
            Yet this critical data is trapped in proprietary, systems like gINT,
            or in outdated file formats like AGS and GEF. As a result,
            geotechnical projects suffer from inefficient workflows, vendor
            lock-in, and inability to use modern analysis tools that could
            improve decision-making.
          </p>
        </OneThirdColumn>

        <OneThirdColumn title="What is Bedrock?">
          <p>
            <a
              class="link"
              href="https://github.com/bedrock-engineer/bedrock-ge"
            >
              Bedrock-ge
            </a>{" "}
            is an open-source Python library that converts your ground investigation
            data from various formats, making it accessible to GIS, databases, and
            modern analysis tools.
          </p>
          <p>
            Bedrock is the company that develops bedrock-ge and provides
            consulting services.
          </p>
        </OneThirdColumn>
      </ThreeColumns>

      <TwoColumns divider>
        <Panel
          title="Turn <em>ground investigation</em> data <br />into <em>geospatial</em> data"
          href="explanation/gi-to-geospatial"
        >
          <p>
            Each GI investigation necessarily has a location. Yet it is often
            not treated as such. By assigning (3D) geospatial geometry to each
            of the GI locations, in-situ tests and samples, the GI data becomes
            a geospatial database. This lets you bridge the gap between
            specialized GI data formats and the wider world of geospatial tools
            and standards.
          </p>
          <!-- <Image
            src={arcGIS}
            width={300}
            alt="Screen recording of 3D GI data in ArcGIS with 3D buildings"
            class="float-right mr-1"
          /> -->
        </Panel>

        <Panel
          title="And break down <br /><em>disciplinary </em> silos"
          href="explanation/gi-to-geospatial#bridging-gis-and-engineering-workflows"
        >
          <p>
            Departments often work in disciplinary silos with not enough
            feedback between them. Geospatial GI data lets you view geotechnical
            data alongside structural or building models in spatial context.
          </p>
          <p>
            Connect your GI data with the Python (geo)scientific ecosystem, GIS
            tools, and BIM platforms like{" "}
            <a class="link" href="https://speckle.systems/">Speckle</a>.
          </p>
          <!-- <Image
            src={kaiTakSpeckle}
            width={300}
            alt="Screenshot of GI data in Speckle with 3D buildings"
            class="float-right"
          /> -->
        </Panel>
      </TwoColumns>

      <TwoColumns>
        <Panel
          title="More <em>structure</em> for valuable <br />ground investigation data"
          href="explanation/hierarchical-structure"
        >
          <p>
            GI Data is inherently hierarchical, it should follow the natural
            hierarchy of investigations: projects contain boreholes, boreholes
            contain samples, samples have test results.
          </p>

          <p>
            Legacy systems and formats often break these relationships or fail
            to enforce them properly. Bedrock ensures proper data structure, and
            validates everything in a single geospatial database.
          </p>
        </Panel>
        <div class="grid place-content-center">
          <Image
            src={structureDiagram}
            width="220"
            class="block mb-4"
            alt="Indented tree diagram of the strucuture of a geotechnical investigation"
          />
        </div>
      </TwoColumns>

      <TwoColumns divider>
        <Panel
          title="<em>Open</em>-source & <em>open</em>-standards"
          href="explanation/concepts/open-source/"
        >
          <p>
            Bedrock-ge is licensed under the{" "}
            <a
              class="link"
              href="https://www.apache.org/licenses/LICENSE-2.0.html"
            >
              Apache License 2.0
            </a>
            , making it free to use, modify, and distribute.
          </p>

          <section>
            <h3>Future Proof</h3>
            <p>
              Even standards managed by industry consortiums can become obsolete
              or difficult to access as software ecosystems evolve. Already,
              reading older AGS or GEF files can be difficult. By converting to
              widely-adopted open geospatial standards like <a
                class="link"
                href="http://geopackage.org/">GeoPackage</a
              >, your data gains long-term accessibility across the entire
              geospatial software ecosystem, not just specialized geotechnical
              tools.
            </p>
          </section>

          <section>
            <h3>Avoid vendor lock-in</h3>
            <p>
              Open standards mean your data and workflows aren't dependent on
              any single vendor's continued support. No steep price hikes
              either.
            </p>
          </section>

          <section>
            <h3>Contribute</h3>
            <p>
              Missing a feature?{" "}
              <a
                class="link"
                href="https://github.com/bedrock-engineer/bedrock-ge/issues/new"
              >
                Open an issue
              </a>{" "}
              or contribute directly, your engineering needs drive our development
              roadmap.
            </p>
            <p>
              Contributing doesn't only mean writing code. You can also
              contribute by adding data, examples, or being active in the
              community by asking or answering questions.
            </p>
          </section>
        </Panel>

        <Panel
          title="Get <em>professional support</em> <br />from the creators"
          href="professional-support"
        >
          <p>
            While bedrock-ge is an Free & Open Source Software project, you
            might be looking for <a class="link" href="/professional-support"
              >professional support</a
            > implementing it.{" "}
          </p>

          <p>
            Bedrock provides support and consultancy services for the bedrock-ge
            library, directly by its creators. We can help you with:
          </p>

          <ul class="list-disc list-inside">
            <li>Converting your GI data to open geospatial standards</li>
            <li>Visualizing GI data in 3D</li>
            <li>Visualizing GI data in a web application</li>
            <li>Automating ground modelling workflows</li>
            <li>Integrating GI data in to digital twins</li>
          </ul>

          <p>
            Contact us at <strong>info&#64;bedrock.engineer.</strong>
          </p>
        </Panel>
      </TwoColumns>

      <footer
        class="bg-black text-gray-300 px-10 py-6 text-sm -mx-[1px]"
        style="background-image: url('granite.svg'); background-size: 250px;"
      >
        <div class="flex justify-between">
          <div>
            <h3 class="text-lg bg-black w-fit">Bedrock</h3>

            <ul>
              <li>
                <a class="bg-black" href="https://www.linkedin.com/company/bedrock-engineer/">
                  <Icon class="inline mr-1" name="linkedin" />
                  LinkedIn
                </a>
              </li>
              <li>
                <a class="bg-black" href="https://github.com/bedrock-engineer/">
                  <Icon class="inline mr-1" name="github" />
                  GitHub
                </a>
              </li>
              <li>
                <a class="bg-black" href="mailto:info@bedrock.engineer">
                  <Icon class="inline mr-1" name="email" />
                  info@bedrock.engineer
                </a>
              </li>
              <li>
                <a class="bg-black" href="company-details">
                  <Icon class="inline mr-1" name="document" />
                  Company details
                </a>
              </li>
            </ul>
          </div>

          <p class="self-end bg-black">© {new Date().getFullYear()} Bedrock B.V.</p>
        </div>
      </footer>
    </Ribbon>
  </div>

  <style>
    .landing {
      --border-color: hsl(34, 27%, 74%);
      background-color: white;
      color: black;
    }

    .landing-section {
      padding-inline: 24px;
      border-bottom: 1px solid var(--border-color);
    }

    .link[href^="http"]::after {
      margin-left: 0.1ch;
      display: contents;
      white-space: nowrap;
      vertical-align: baseline;
      content: "\FEFF" url("/icons/external-link.svg");
      background-size: cover;
    }
  </style>
</BaseLayout>
